/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
  
.im{
      height: 40px;
      width: 100px;
   }
   
   #searchInput {
      width:200px;
   }
   
   .navbar-brand{
      padding:13px 15px;
   }
/* Carousel */

#myCarousel .item
{
   height:400px;
}

.carousel-caption {
   font-size: 18px;
}

#myCarousel{
   margin-top: 65px;
}

#slide1
{
   background: url('../../images/slide1.jpg')top center no-repeat;
}


#slide2
{
   background: url('../../images/slide2.jpg')top center no-repeat;
}

#slide3
{
   background: url('../../images/slide3.jpg')top center no-repeat;
}




/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}


footer{
   background: #333;
   font-size: 15px;
   padding:10px;
   margin:0;
   color:#ADD8E6;
}

footer pre{
   background: #333;
   border-color: #333;
}
